.movieContainer .containerFilm {
  padding: 0 1rem;
}

.movieContainer .seat {
  cursor: pointer;
  background-color: #23252b;
  height: 30px;
  width: 40px;
  margin: 12px 4px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movieContainer .seat.selected {
  background-color: green;
}

.movieContainer .seat.sold {
  background-color: #fff;
}

.movieContainer .seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.movieContainer .showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.movieContainer .showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.movieContainer .showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.movieContainer .showcase li small {
  margin-left: 2px;
}

.movieContainer .screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-110deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.movieContainer p.text {
  margin: 5px 0;
}

.movieContainer p.text span {
  color: rgb(158, 248, 158);
}
